:root {
  --cinza: #aaa;
  --lilas: #9f84bd;
  --lilas-escura: #71588d;
  --branca: #fff;
  --luz: #ff6392;
}

body {
  align-items: center;
  background: linear-gradient(45deg, #ede3e9 0%,#9f84bd 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px #ff6392;
}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 6px 6px 10px 6px #666, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--lilas);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--lilas);
  border: 4px solid  var(--lilas);
  box-shadow: 3px 3px 0 var(--lilas-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--lilas-escura) inset, 1px 1px 10px var(--luz);
}
